{{!-- Register Modal --}}

<div class="modal fade" id="registerUserModal" aria-hidden="true" aria-labelledby="registerModalLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content br-1 p-3">
            <div class="modal-body">
                <div class="container">
                    <h2 class="my-4 text-center">Register User</h2>
                    <form id="registerUserForm">


                        <div class="form-outline mb-3">
                            <input type="text" name="firstName" required placeholder="First Name" class="form-control form-key" />
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="form-outline mb-3">
                            <input type="text" name="lastName" required placeholder="Last Name" class="form-control form-key" />
                            <div class="invalid-feedback"></div>
                        </div>
                        
                        <!-- Email input -->
                        <div class="form-outline mb-3">
                            <input type="email" name="email" required placeholder="Email Address" class="form-control form-key" />
                            <div class="invalid-feedback"></div>
                        </div>

                        <!-- Username input -->
                        <div class="form-outline mb-3">
                            <input type="text" name="username" required placeholder="Username" class="form-control form-key" />
                            <div class="invalid-feedback"></div>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <input type="password" name="password" required placeholder="Password" class="form-control form-key" />
                            <div class="invalid-feedback"></div>
                        </div>

                        <!-- Confirm Password input -->
                        <div class="form-outline mb-3">
                            <input type="password" name="confirmPassword" required placeholder="Confirm Password"
                                class="form-control" />
                        </div>

                        <!-- Default switch -->
                        <div class="form-outline mb-3 form-check form-switch">
                            <input name="adminRights" class="form-check-input" type="checkbox" role="switch"
                                id="registerAdminSwitch" />
                            <label class="form-check-label" for="registerAdminSwitch">Is Admin</label>
                        </div>

                        <!-- Submit button -->
                        <div class="container d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary btn-block mb-4 w-75">Register</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateUserModal" aria-hidden="true" aria-labelledby="registerModalLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content br-1 p-3">
            <div class="modal-body">
                <div class="container">
                    <h2 class="my-4 text-center">Update User</h2>
                    <form id="updateUserForm">

                        {{!-- Hidden input field --}}
                        <input type="hidden" name="_id">

                        <!-- Email input -->
                        <div class="form-outline mb-3">
                            <label>Email: </label>
                            <input type="email" name="email" required placeholder="Email Address"
                                class="form-control" />
                            <div class="invalid-feedback"></div>
                        </div>

                        <!-- Username input -->
                        <div class="form-outline mb-3">
                            <label> Username: </label>
                            <input type="text" name="username" required placeholder="Username" class="form-control" />
                            <div class="invalid-feedback"></div>
                        </div>

                        <!-- Fist Name input -->
                        <div class="form-outline mb-3">
                            <label> Fist Name </label>
                            <input type="text" name="firstName" required placeholder="First Name"
                                class="form-control" />
                            <div class="invalid-feedback"></div>
                        </div>

                        <!-- Last Name input -->
                        <div class="form-outline mb-3">
                            <label> Last Name </label>
                            <input type="text" name="lastName" required placeholder="Last Name" class="form-control" />
                            <div class="invalid-feedback"></div>
                        </div>

                        <!-- Default switch -->
                        <div class="form-outline mb-3 form-check form-switch">
                            <input name="adminRights" class="form-check-input" type="checkbox" role="switch"
                                id="flexSwitchCheckDefault" />
                            <label class="form-check-label" for="flexSwitchCheckDefault">Is Admin</label>
                        </div>

                        <hr>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4 w-100">Update</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteUserModal" aria-hidden="true" aria-labelledby="registerModalLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content br-1 p-3">
            <div class="modal-body">
                <div class="container">
                    <h2 class="my-1 py-1 text-center">Delete User</h2>
                    
                    <form id="deleteUserForm">

                        <div class="container-fluid py-2">
                        {{!-- Hidden input field --}}
                        <input type="hidden" name="_id">

                        <!-- Email -->
                        <div class="my-4 row">
                            <label class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                <input type="text" name="email" readonly class="form-control" value="">
                            </div>
                        </div>

                        <!-- Username -->
                        <div class="my-4 row">
                            <label class="col-sm-3 col-form-label">Username</label>
                            <div class="col-sm-9">
                                <input type="text" name="username" readonly class="form-control" value="">
                            </div>
                        </div>

                        <p>You are about to delete an account. This action cannot be undone, and all associated data and information will be permanently removed from our system. Are you sure you want to proceed?</p>
                            
                        </div>

                        <hr>

                        <!-- Submit button -->
                        <div class="text-end pt-1">
                            <button type="button" class="btn btn-secondary btn-block data-bs-target="#deleteUserModal" data-bs-toggle="modal" data-bs-dismiss="modal"">Cancel</button>
                            <button type="submit" id="deleteButton" class="btn btn-danger btn-block ms-1">Delete Account</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>