<table id="postsTable" class="table table-striped" style="width:100%">

    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Image</th>
            <th>Author</th>
            <th>Co-Authors</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Image</th>
            <th>Author</th>
            <th>Co-Authors</th>
            <th>Date</th>
            <th></th>
        </tr>
    </tfoot>

</table>