<div class="container py-5">

    <div class="card my-5 br-1 p-4">
        <div class="card-body">
            <h2 class="card-title">Manage Posts</h2>
            <hr>
            
            {{> postsTable}}

        </div>
    </div>

    <div class="card my-5 br-1 p-4">
        <div class="card-body">
            <h2 class="card-title">Manage Users</h2>
            <hr>
            
            {{> usersTable}}

        </div>
    </div>


{{> adminArticleModals}}
{{> adminDashboardModals}}


<script src="https://code.jquery.com/jquery-3.5.1.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script defer src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@tinymce/tinymce-webcomponent@2/dist/tinymce-webcomponent.min.js"></script>

<script defer src="/scripts/classes/SmartForm.js"></script>
<script defer src="/scripts/classes/DataTable.js"></script>
<script defer src="/scripts/adminDashboard.js"></script>